/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/posts/Posts.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Posts_container__KgFox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
}

.Posts_header__pj6z0 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.Posts_post__US7_I {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
}

.Posts_title__drXns {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.Posts_body__FSURK {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #666;
}

.Posts_reactions__TSToU {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
}

.Posts_likes__7XHOu {
    color: #4caf50;
}

.Posts_dislikes__FvONw {
    color: #f44336;
}

.Posts_link__bPvvI {
    display: inline-block;
    margin-top: 10px;
    color: #1e88e5;
    text-decoration: none;
    transition: color 0.3s;
}

.Posts_link__bPvvI:hover {
    color: #0d47a1;
}

