/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/posts/[id]/PostDetail.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.PostDetail_container__CWJI9 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.PostDetail_card__Fosg2 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
}

.PostDetail_title__sLZOG {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.PostDetail_body__p6V5B {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #666;
}

.PostDetail_reactions__xDA6_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 1rem;
}

.PostDetail_likes__zBQJq {
    color: #4caf50;
}

.PostDetail_dislikes__DyftY {
    color: #f44336;
}

